.button {
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 8px;
  background-color: var(--color-primary);
  outline: none;
  border: none;
  border-radius: 100%;
}

.wrapper {
  position: relative;
}

.number {
  position: absolute;
  bottom: -5px;
  right: -5px;
  padding: 2px 6px;
  background-color: var(--color-text-primary);
  color: var(--color-back-primary);
  border-radius: 100%;  
}