.filter {
  padding-bottom: 8px;
  display: flex;
}

.filterBtn {
  width: fit-content;
  height: fit-content;
  padding: 4px 10px;
  background-color: var(--color-back-secondary);
  border: 1px solid var(--color-text-primary);
  border-radius: 10px;
  margin-right: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  user-select: none;
}

.filterList {
  padding: 0px 2px 8px;
  display: flex;
  column-gap: 6px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}